@import url(https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Oswald:400,700,300|Josefin+Slab);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
}
main {
	width: 450px;
	float: left;
	padding: 0 0 6em 10em;
}
footer {
	font-size: 1em;
	padding: 3em 0;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	float: center;
}
h1 {
	font-size: 2.5em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}

h3 {
	font-weight: 100;
}

ul {
	list-style-type:none;
}
img {
	width:20em;
}

