@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Josefin+Slab);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	margin: 1em;
}
main {
	padding: 4em 1em 0 15em;
}
footer {
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 4em; 
	padding-left: 70%;
	padding-bottom: 0;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	text-align: right;
}
.clearfix {
	position: relative;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}
ul {
	list-style-type: none;
	line-height: .75em;
	font-weight: 300;
}
.kitty {
	padding-top: 1em;
	padding-left: 15em;
}