@import url(https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Oswald:400,700,300|Josefin+Slab);
body {
	background-color: #00b2b2;
	}

#menu li {
	display: inline;
	float: right;
	color: #00fefe;
	font-family: "Josefin Slab";
	font-size: 20px;
}
a:link {
	display: inline-block;
	width: 100px;
	padding: 4px;
	float: right;
}

#main {
	color: #a7ffff;
	font-family: "Oswald";
	letter-spacing: 3px;
	width: 450px;
	height: 200px;
	float: left;
	padding: 0px 0px 100px 150px;
}

h1
{
	font-size: 40px;
	font-weight: 900;
	line-height: 1.618;
}

h2
{
	font-size: 25px;
	font-weight: 400;
}

h3
{
	font-weight: 100;
}

ul
{
	padding-left: 0;
}

#footer
{
	font-size: 12px;
	padding: 50px 0px;
	font-family: "Josefin Slab";
	color: #00fefe;
	float: center;
}

#contact {
	float: left;

}

#fine {
	float: right;
}

