@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Oswald:400,700,300);* { margin:0; padding:0; box-sizing:border-box; }

html {
	height: 100%;
}

body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	height: 100%;
}


nav {
	float:right;
}

nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	margin: 1em;
}

main {
	height: 100%;
	margin: auto;
	width: 90%;
	text-align: center;
	background-color: #00bfbf;
	height: auto;
}

#list {
	margin: 0;
	padding-top: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#mainlist {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: .5em;
}

.kitty {
	width: 40%;
	margin: auto;
	padding-top: 1em;
}

.blackdog {
	width: 25%;
	padding: 1em;
	float: left;
	margin: 0;
	padding-top: 5%;
}

.glassescat {
	width: 25%;
	padding: 1em;
	float: left;
	margin: 0;
	padding-top: 5%;
}

.hotdog {
	width: 25%;
	padding: em;
	padding-top: 10%;
	float: left;
	margin: 0;
}

#services {
	font-size: .75em;
	text-align: left;
}

.serviceslist {
	text-indent: 1em;
}

#servicesleft {
	float: left;
	width: 25%;
	padding: 1em;
	margin-left: 15%;
	padding-top: 5%;
}

#servicesright {
	float: left;
	width: 25%;
	padding: 1em;
	margin: 0;
	padding-top: 5%;
}

#resources {
	font-size: .75em;
	text-align: left;
}

#resourcesleft {
	float: left;
	width: 25%;
	padding: 1em;
	margin-left: 15%;
	padding-top: 5%;
}

#resourcesright {
	float: left;
	width: 25%;
	padding: 1em;
	padding-top: 5%;
	margin: 0;
}

#aboutus {
	font-size: 1em;
	text-align: left;
}

#aboutusleft {
	float: left;
	width: 30%;
	margin-left: 8%;
	padding: 1em;
	padding-top: 5%;
}

#aboutusright {
	float: left;
	width: 30%;
	padding: 1em;
	margin: 0;
	padding-top: 5%;
}

#aboutuscontact {
	text-align: center;
}

footer {
	position: absolute;
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 4em; 
	padding-left: 70%;
	padding-bottom: 20px;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	text-align: right;
}

h1 {
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: .25em;
	line-height: 1.5em;
}

h2 {
	font-size: 2em;
	font-weight: 400;
	padding-bottom: 0em;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
	line-height: 1.5em;
	font-size: 1.25em;
	font-weight: 300;
	text-align: left;
	padding: 0em;
	margin: 0;
}

.contactimage {
	width: 15%;
}

.charlienav {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*@media only screen and (max-width: 1500px) {

	main {
		width: 95%;
	}

	.kitty {
		width: 300px;
		padding-left: 1em;
	}

	#list {
		width: 45%;
	}
}*/

/*@media only screen and (max-width: 990px) {

#servicesleft {
	width: 30%;
}

#servicesright {
	width: 30%;
	padding-left: 3em;
}*/

/*}*/

/*@media only screen and (max-width: 920px) {
	

	#list {
		float: none;
		width: 100%;
		padding-bottom: 2em;
		padding-top: .5em;
		margin: 0;
	}

	.serviceslist {
		text-indent: .35em;
		text-align: left;
	}

	ul {
		text-align: center;
	}
}*/

@media only screen and (max-width: 830px) {

#servicesleft {
	font-size: .85em;
}

#servicesright {
	font-size: .85em;
}
}

@media only screen and (max-width: 720px) {

	main {
		width: 95%;
	}

}

@media only screen and (max-width: 685px) {

	header {
		background-color: #007272;
	}

	.navsection {
		float: left;
		width: 50%;
	}

	nav a {
		font-size: 2em;
		line-height: .5em;
		padding-top: 10%;
		margin-top: 0;
		font-weight: 700;
		width: 100%;
		padding-left: .5em;
		margin-left: 0em;
	}

	.charlienav {
		display: block;
		float: right;
		width: 50%;
		padding: 0;
		margin: auto;
		padding-right: .5em;
		padding-top: 10%;
		margin-top: 5%;
	}

	main {
		font-size: 2em;
		background-color: #00b2b2;
	}

	h1 {
		line-height: 1em;
	}

	h2 {
		font-size: 1em;
	}

	#servicesleft {
		float: none;
		width: 90%;
		text-align: center;
		font-size: 1.5em;
		margin: 0;
		padding-bottom: 0em;
		padding-top: 2em;
	}

	.blackdog {
		width: 50%;
		padding-left: 0em;
		margin-left: 0em;
	}

	#servicesright {
		float: none;
		width: 90%;
		text-align: center;
		font-size: 1.5em;
		margin: 0;
		padding: 0em;
	}

	.serviceslist {
		text-indent: 25%;
		padding-bottom: .5em;
	}

	.contactimage {
		display: none;
	}


	.kitty {
		float: none;
		padding: 0;
		margin: 0;
		margin-left: 0;
		width: 50%;
		padding-top: .5em;
	}

	#list {
		width: 100%;
		font-size: 1em;
		float: none;
		padding-left: 0;
		background-color: #007272;
		padding-top: 1em;
	}

	footer {
		text-align: center;
		width: 100%;
		float: none;
		padding-left: 0;
	}
}

/*@media only screen and (max-width: 640px) {


	header {
		background-color: #007272;
	}

	.navsection {
		float: left;
		width: 50%;
	}

	nav a {
		font-size: 2em;
		line-height: .5em;
		padding-top: .5em;
		margin-top: 0;
		font-weight: 700;
		width: 55%;
		padding-left: 1em;
		margin-left: 0em;
	}

	.charlienav {
		display: block;
		float: right;
		width: 150px;
		margin: .5em auto;
		margin-right: 1em;
	}

	main {
		font-size: 2em;
		background-color: #00b2b2;
	}

	h1 {
		line-height: 1.25em;
	}

	h2 {
		font-size: 1.25em;
	}

	.contactimage {
		display: none;
	}


	.kitty {
		float: none;
		padding: 0;
		margin: 0;
		margin-left: 0;
		width: 50%;
		padding-top: .5em;
	}

	#list {
		width: 100%;
		font-size: 1em;
		float: none;
		padding-left: 0;
		background-color: #007272;
		padding-top: 1.5em;
	}

	footer {
		text-align: center;
		width: 100%;
		float: none;
		padding-left: 0;
	}
}*/

/*@media only screen and (max-width: 590px) {

	.navsection {
		margin-top: 1em;
	}

	nav a {
		width: 100%;
		font-size: 3em;
		line-height: .25em;
}

	.charlienav {
		width: 175px;
		padding-top: 2em;
		margin-right: 3em;
	}

	h1 {
		font-size: 3em;
	}
}*/

@media only screen and (max-width: 485px) {

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 1em;
	}
	#list {
		font-size: .75em;
	}

	}

@media only screen and (max-width: 420px) {

	/*nav a { 
		margin-left: .25em;
		padding-left: .25em;
	}

	.charlienav {
		width: 75%;
		margin-left: 0em;
		margin-right: 1em;
	}*/

	h1 {
		font-size: 2.5em
	}

	h2 {
		font-size: .75em;
	}

}

@media only screen and (max-width: 370px) {

	/*nav a {
		margin-left: 0em;
		padding-left: .25em;
	}	

	.charlienav {
		padding-top: 1em;
	}*/

	#list {
		font-size: .5em;
	}
}

@media only screen and (max-width: 350px) {

/*nav a {
		margin-left: 0em;
		padding-left: .125em;
	}

.charlienav {
	margin-right: .125em;
}*/

h1 {
	font-size: 2em;
	}
}

@media only screen and (max-width: 340px) {

/*nav a {
	font-size: 1.5em;
	margin-left: .5em;
	padding-bottom: 0em;
}

nav {
	padding-bottom: 0em;
}

.charlienav {
	width: 100px;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: .5em;
	padding-top: 0;
}*/

h2 {
	font-size: .5em;
}

}


}
}



/*@media only screen and (max-width: 775px) {
	main {
		width: 80%;
		background-color: #00b2b2;
	}

	#list {
		float: right;
		padding-top: 0;
		padding-right: .5em;
		padding-left: 0;
	}

	.kitty {
		float: none;
		padding: 0;
		width: 25%;
		margin: 0;
	}
}

@media only screen and (max-width: 530px) {
 	
 	h1 {
 		letter-spacing: .25em;
		font-size: 5em;
		line-height: 1em;
 	}

 	.kitty {
 		padding-top: 2em;
 	}
 }

@media only screen and (max-width: 520px) {



}

@media only screen and (max-width: 480px) {

	header {
		background-color: #a7ffff;
	}

	nav {
		display: block;
		background-color: #a7ffff;
		font-size: 2em;
		padding-bottom: 0em;
		margin-top: 0em;
		float: none;
	}

	nav a {
		display: block;
		margin:.25em auto .5em;
		color: #00b2b2;
		font-weight: 700;
	}

	ul {
		display: none;
	}
	
	footer {
		font-size: 1em;
		margin-right: 0;
		margin-bottom: .5em;
		padding: 0;
		text-align: center;
	}

	.navsection{
		width:50%;
		float:left;
		padding:.5em;
	}

	.kitty {
		
	}

	.contactimage {
		display: none;
	}
		
	.charlienav {
		display: block;
		width: 4em;
		margin: .5em auto;
	}
}

*/