@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Oswald:400,700,300);* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	margin: 1em;
}
main {
	padding: 4em 1em 0 15em;
}
footer {
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 4em; 
	padding-left: 70%;
	padding-bottom: 0;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	text-align: right;
}
.clearfix {
	position: relative;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: .25em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}
ul {
	list-style-type: none;
	line-height: 1.25em;
	font-weight: 300;
}
.kitty {
	padding-top: 1em;
	padding-left: 15em;
}

@media only screen and (max-width: 480px) and (min-width: 320px) { 
@media (max-width: 480px) {
	nav {
		display: block;
		background-color: #a7ffff;
		font-size: 2em;
		padding-bottom: 0em;
	}

	nav a {
		margin: 0 .5em .5em 0em;
		padding: 0 0 0 .25em;
		text-align: left;
		width: 50%;
		height: .75em; 
		line-height: 1em;
		color: #00b2b2;
		font-weight; Bold 700;
		background-color: #fff;
		float: right;
	}
	main {
		padding: .25em;
	}
	h1 {
		letter-spacing: .25em;
		font-size: 4em;
		line-height: 1em;
	}
	ul {
		display: none;
	}
	.kitty {
		padding: 0 .25em .25em 0;
	}
	footer {
		padding: .25em .5em
	}
}
}