@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Oswald:400,700,300);* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}
nav {
	float:right;
}
nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	margin: 1em;
}

main {
	padding: 4em 1em 0 15em;
}
footer {
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 4em; 
	padding-left: 70%;
	padding-bottom: 0;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	text-align: right;
}
.clearfix {
	position: relative;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	letter-spacing: .25em;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
}
ul {
	list-style-type: none;
	line-height: 1.25em;
	font-weight: 300;
}
.kitty {
	padding-top: 1em;
	padding-left: 15em;
}

.charlienav {
	display: none;
}

@media only screen and (max-width: 480px) {

	nav {
		display: block;
		background-color: #a7ffff;
		font-size: 2em;
		padding-bottom: 0em;
		margin-top: .5em;
	}

	nav a {
		margin-bottom: .25em;
		margin-top: .25em;
		text-align: right;
		height: .75em; 
		color: #00b2b2;
		font-weight: Bold 700;
		float: right;
		padding-bottom: 1em;
		padding-left: 2em;

	}

	main {
	padding: 4em 1em 0 5em;
	}

	h1 {
		letter-spacing: .25em;
		font-size: 5em;
		line-height: 1em;
		padding-top: 2em;
	}

	ul {
		display: none;
	}

	.kitty {
		padding: 1em 1em 0 5em;
	}

	.charlie {
		display: none;
	}
		
	.charlienav {
		display: initial;
		float: left;
		width: 5em;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	footer {
		font-size: 1em;
		margin-right: 0;
		margin-bottom: .5em;
		padding: 0;
		text-align: center;
	}
}
