@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Oswald:400,700,300);* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #00b2b2;
	color: #a7ffff;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
}


nav {
	float:right;
}

nav a {
	display: inline-block;
	color: #00fefe;
	font-family: 'Josefin Slab', serif;
	font-size: 1.25em;
	margin: 1em;
}

main {
	margin: auto;
	width: 80%;
	text-align: center;
	background-color: #00bfbf;
}

#list {
	width: 50%;
	float: right;
	margin: 0;
	padding-top: 6em;
	padding-left: 4em;
	margin-right: 0;
}

.kitty {
	width: 30%;
	float: left;
	margin: 0;
	margin-left: 20%;
	margin-right: 0;
	padding-right: 0;
}


footer {
	font-size: 1em;
	margin-right: 1em;
	margin-bottom: .5em;
	padding-top: 4em; 
	padding-left: 70%;
	padding-bottom: 0;
	font-family: 'Josefin Slab', serif;
	color: #00fefe;
	text-align: right;
}

h1 {
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: .25em;
	line-height: 1.5em;
}

h2 {
	font-size: 2em;
	font-weight: 400;
	padding-bottom: 0em;
	line-height: 2em;
}

ul {
	list-style-type: none;
	line-height: 1.5em;
	font-size: 1.25em;
	font-weight: 300;
	text-align: left;
	padding: 0em;
	margin: 0;
}

.charlienav {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 775px) {
	main {
		width: 90%;
	}
}

@media only screen and (max-width: 520px) {
 	
 	h1 {
 		letter-spacing: .25em;
		font-size: 5em;
		line-height: 1em;
 	}
 }

@media only screen and (max-width: 480px) {

	header {
		background-color: #a7ffff;
	}

	nav {
		display: block;
		background-color: #a7ffff;
		font-size: 2em;
		padding-bottom: 0em;
		margin-top: 0em;
		float: none;
	}

	nav a {
		display: block;
		margin:.25em auto .5em;
		color: #00b2b2;
		font-weight: 700;
	}

	ul {
		display: none;
	}
	
	footer {
		font-size: 1em;
		margin-right: 0;
		margin-bottom: .5em;
		padding: 0;
		text-align: center;
	}

	.navsection{
		width:50%;
		float:left;
		padding:.5em;
	}

	.kitty {
		
	}

	.charlie {
		display: none;
	}
		
	.charlienav {
		display: block;
		width: 4em;
		margin: .5em auto;
	}
}

